.con{
    background-image: url(img/Layer\ 21@1X.png);
    background-repeat: no-repeat;
    width: 308px;
    height: 201px;
    padding-top: 150px;
    border: 3px solid;
    border-image: linear-gradient(#fefefe , #808080);
    /* -moz-border-image: -moz-linear-gradient(#0B0E7F , #0B95DD); */
    /* -webkit-border-image: -webkit-linear-gradient(#0B0E7F , #0B95DD); */
    border-image-slice: 1;
    border-bottom: 0;
}
a:hover{
    background-color: #f26522;
    height: 63px;
    width: 307px;
    visibility: visible;
    

}
a>p:hover{
    color: chocolate;
}
.logo-img {
    float: left;
    height: 44px;
    width: 46px;
    margin-top: 15px;
    margin-left: 160px;
    background-image: url(img/logo@111.png);
  }
  
  .logo-img:hover {
    background-image: url(img/logo@1X.png);
  }
  /* .logo > li:hover {
    color: #f26522;
  } */
  .logo {
    float: left;
    padding-left: 10px;
    margin-top: 7px;
  }
  .milan {
    font-size: 38px;
    margin-bottom: -7px;
  }
  li {
    list-style-type: none;
  }
  .logo > li {
    text-decoration: none;
    color: #fff;
  }
  header{
      background-color: #777;
  }
  header::after {
    clear: both;
    content: "";
    display: block;
  }
.logotype>a:hover{
    /* color:#f26522; */

} 
.input-text{
  color: #808080;
}