div {
    background-color: green; 
    height: 100px;
    width: 200px;
}
p {
 background-color: blue;
 height: 100px;
 width: 100px;
}
.black {
    background-color: black;
}
.width {
    height: 400px;
    min-width: 500px;
    max-width: 800px;
    font-style: Arial;
}