body {
  margin: 0;
}
/* основной контейнер */
.wrapper {
  width: 1366px;
  font-family: AdobeInvisFont,Courier,Verdana;
  font-size: 1.2rem;
  background-image: url(img/background@1X\ \(2\).png);
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 20px;
  overflow: hidden;
  color: #fff;
}
/* шапка */
header::after {
  clear: both;
  content: "";
  display: block;
}
.logo-img {
  float: left;
  height: 44px;
  width: 46px;
  margin-top: 15px;
  margin-left: 160px;
  background-image: url(img/logo@111.png);
}
.lin:hover .logo-img {
  background-image: url(img/logo@1X.png);
}
.lin:hover .logo li {
  color: #f26522;
}
.logo {
  float: left;
  padding-left: 10px;
  margin-top: 7px;
}
.milan {
  font-size: 38px;
  margin-bottom: -7px;
}
li {
  list-style-type: none;
}
.logo > li {
  text-decoration: none;
  color: #fff;
}
.cotact {
  margin-left: 545px;
  float: left;
}
.cotact::after {
  clear: both;
  content: "";
  display: block;
}
.cotact li > a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.tel {
  margin-left: 97px;
}
li > a:hover {
  color: #f26522;
}
/* контейнер с картинками */
.container {
  padding-left: 121px;
}
.container::after {
  clear: both;
  content: "";
  display: block;
}
/*  контент */
.content {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  width: 311px;
  height: 300px;
  float: left;
  position: relative;
}
.content h3 {
  text-align: center;
  color: #fff;
}
.cont-a:hover h3 {
  color: #f26522;
}
.cont-link1 {
  width: 308px;
  height: 200px;
  border: 2px solid;
  border-image: linear-gradient(#fefefe, #0f0f0f);
  border-image-slice: 1;
  border-bottom: 0;
}
.cont-a:hover .lincs {
  opacity: 1;
}
.lincs {
  height: 63px;
  width: 308px;
  color: #ffffff;
  position: absolute;
  top: 139px;
  opacity: 0;
  transition: all 0.3s;
  background-color: #f26522;
}

.lincs > ul {
  margin: 0;
  padding-left: 20px;
  padding-top: 15px;
  display: inline-block;
}
.from {
  font-size: 11px;
}
.fifty {
  font-size: 20px;
}
.on {
  text-align: right;
  font-size: 14px;
  margin-left: 95px;
}
.tu {
  padding-left: 20px;
  font-size: 12px;
}
.link {
  color: #fff;
  padding: 20px 50px 25px;
  text-decoration: none;
}
.link:hover {
  color: #f26522;
}
a {
  text-decoration: none;
}
/* футер */
footer {
  padding-bottom: 10px;
  height: 40px;
}
footer p {
  text-align: center;
  color: #fff;
}
