/* основной контейнер  */
.container {
  background-color: #3a4965;
  padding: 10px;
  height: 736px;
  width: 1192px;
  margin: 0 auto;
  text-align: center;
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
}
table {
  background-color: #d3d3d3;
  margin: 0 auto;
  width: 100%;
}
/* thead */
ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 21px;
}
.li99 {
  padding-right: 98px;
}
.span-head {
  font-size: 50px;
}
.td-head {
  padding: 12px 0;
}
.th1 {
  background-color: #fafafa;
}
.th1 > h2 {
  font-size: 33px;
  margin: 0;
}
.th1 > h3 {
  font-size: 18px;
  margin: 0;
}
.th2 {
  background-color: #89c331;
}
.th3 {
  background-color: #f04a56;
}
.th4 {
  background-color: #20807c;
}
.th2,
.th3,
.th4 {
  font-size: 21px;
  padding: 17px;
}
.tr2-head {
  background-color: #fafafa;
}

/* tbody */
tbody {
  font-size: 17px;
}
tbody > .tr1 {
  background-color: #f2f2f2;
}
tbody > .tr2 {
  background-color: #e3e3e3;
}
tbody td {
  padding: 20px;
}
.tbody-img1 {
  position: relative;
  top: 5px;
}
.tbody-span {
  padding-left: 10px;
  display: inline-block;
}
/* tfoot */
tfoot {
  font-size: 17px;
}
tfoot a {
  padding: 10px 50px;
}
.td1-tfood {
  background-color: #dddddd;
  padding: 40px;
}
.td2-tfood {
  background-color: #eeeeee;
}
.td3-tfood {
  background-color: #f4f4f4;
}
.tfoot-a1 {
  background-color: #484848;
  border-bottom: 6px solid #404040;
  border-radius: 6px;
}
.tfoot-a2 {
  background-color: #89c331;
  border-radius: 6px;
  border-bottom: 6px solid #79b027;
}
.tfoot-a3 {
  background-color: #f04a56;
  border-radius: 6px;
  border-bottom: 6px solid #df3a46;
}
.tfoot-a4 {
  background-color: #20807c;
  border-radius: 6px;
  border-bottom: 6px solid #16736f;
}
.tfoot-a1,
.tfoot-a2,
.tfoot-a3,
.tfoot-a4 {
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
}
tfoot a:hover {
  color: lawngreen;
}
