body {
  margin: 0;
  padding: 0;
}
/* основной контейнер */
.main {
  background-color: #52add4;
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 17px;
  font-family: "Arimo", sans-serif;
}
/* форма  */
.border-form {
  border: 8px solid #52a4c7;
  width: 370px;
  border-radius: 3px;
  margin: 0 auto;
}
form {
  background-color: #fff;
  width: 370px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 3px;
  padding-top: 1px;
}
/* заголовок формы */
h2 {
  background: linear-gradient(#fefefd, #f0f3f5);
  font-size: 16px;
  padding-bottom: 11px;
  border-bottom: 1px solid #cfcfcf;
}
.border-input {
  background-color: #f1f4f7;
  height: 38px;
  width: 299px;
  padding: 5px;
  border-radius: 6px;
  margin: 0 auto;
}
.input-text {
  font-size: 14px;
  text-align: left;
  padding: 10px 110px 10px 17px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
}
.checkbox {
  font-size: 14px;
}
input[type="text" i]::-webkit-input-placeholder {
  color: #cacedd;
}
input[type="text" i]::-moz-placeholder {
  color: #cacedd;
}
input[type="password" i]::-webkit-input-placeholder {
  color: #cacedd;
}
input[type="password" i]::-moz-placeholder {
  color: #cacedd;
}
p {
  font-size: 12px;
}
input[type="submit" i] {
  border-radius: 20px;
  border: 1px solid #a3b8c1;
  background: linear-gradient(to top, #d2e6ef, #edf4f8);
  margin-left: 8px;
  padding: 8px 20px;
  font-weight: 600;
  margin-top: 10px;
}
a {
  color: #d8ebfa;
  margin-left: 5px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.p-foot {
  color: #fff;
}
