input.correct {
    border: 2px solid green;
}

input.incorrect {
    border: 2px solid red;
    background-color: rgba(255, 0, 0 ,.5);
}

.inputName {
    width: 400px;
    margin: .5rem;
    padding: 1rem 0;
    border: 2px solid black;
    border-radius: .5rem;
    text-align: center;
}