 body{
     margin: 0;
 } 
 /* основной контейнер */
.wrapper{
    width: 1280px;
    height: 1626px; 
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-size: 16px;
    color: rgba(55, 55, 55, 255);
    font-weight: 700;
} 
 /* шапка */
ul {
    text-align: center; 
}
li{
    display: inline-block;
}
li>a{
    color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 59px;
}
li>a:hover{
    text-decoration:underline;
}
/* контейнер с картинкой */
.container>img{
    height: 790px;
    width: 1280px;
}
/*  контент */
.content{
    height: 650px;
    background-color: #f5f6f7;
    text-align: center;
    padding: 40px 113px 136px;
} 
h1,.link{
    text-transform: uppercase;
} 
p{
    line-height: 1.8rem;
    margin-bottom: 50px;
}
.link{
    color: #fff;
    background-color: #16a085;
    padding: 20px 50px 25px;
    text-decoration: none;
}
.link:hover{
    color: firebrick;
}
/* футер */
footer{
    height: 108px;
    padding-right: 113px;
    padding-top: 50px;
}
footer>p{
    text-align: right;
}