div p {
    background-color:green;
}
h4,p{
    background-color: blue;
}
.color:hover {
    background-color: green;
}
.color::before {
    content: "";
    background-color: rgb(185, 17, 17);
    height: 16px;
    width: 16px;
    margin-right: 10px;
    display: inline-block;
}
.color {
    width: 100px;
    height: 100px;  
}