.p1 {
  background-color: lawngreen;
}
.p2 {
  background-color: rgb(28, 31, 221);
}
.p3 {
  background-image: url(img/Koala.jpg);
  background-size: cover;
  height: 500px;
  width: 500px;
}
.p4 {
  background-color: hsla(006, 56%, 40%, 0.5);
}
.p5 {
  background-color: #666555;
}
