p{
    padding: 5px;
}
.p1 {
  border:2px dashed crimson;

}
.p2{
    border:3px dotted cyan;
    
}
.p3{
   border: 4px double green; 
}
.p4{
    border:5px groove fuchsia;
}
.p5{
    border: 6px ridge gold;
}
.p6{
    border:7px inset saddlebrown;
}
.p7{
    border:solid 4px rgb(75, 63, 107);
}
.p8{
   border:outset 5px #000; 
}
