/* основной контейнер */
.main{
    margin: 0 auto;
}
/* форма  */
form{
    width: 560px;
    text-align: right;
    /* padding-right: 400px; */
}
.form-h2{
        margin-bottom: 0;
        margin-right: -25px;
        display: inline-block;
        vertical-align: middle;
        padding-top: 25px;
        color: #063e79;
        font-size: 16px;
    }
    .form-h2::before,::after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 1px;
        background-color: #cccccc;
        position: relative;
    }
.form-h2::before{
    width: 40px;
    content: "";
    right: 20px; 
}
.form-h2::after{
    width: 198px;
    content: "";
    left: 20px;
}
/* вторая часть формы */
.form-h2-2{
    margin-bottom: 0;
    margin-right: -25px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
    color: #063e79;
    font-size: 16px;
}
.form-h2-2::before,::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    background-color: #cccccc;
    position: relative;
}
.form-h2-2::before{
    width: 40px;
    content: "";
    right: 20px; 
}
.form-h2-2::after{
    width: 292px;
    content: "";
    left: 20px;
}
p{
    font-size: 16px;
}
.p-bold{
    font-weight: 600;
}
input{
    margin-left: 30px;
    font-size: 16px;
}
select{
    margin-left: 30px; 
    font-size: 20px;
    width: 196px;
}