.header{
    background-color: #8c0a0d;

} 
/* логотип */
.logo{
    width: 177px;
    float: left;
    margin: 20px 100px 0px 60px;
}
/* навигация */
    
li {
    display: inline-block;
    margin: 38px 15px 21px;
}
a {
    color: #ffe394;
    text-decoration: none;
}

.icon{
    margin-left:3px;
    font-size: 20px; 
}
.img_end{
    margin-left: 100px;
    margin-right: 5px;
    position: relative;
    bottom: -3px; 
}
