.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: .6rem;
}

.container-item1 {
    background-image: url("https://i.pinimg.com/564x/1f/80/3a/1f803a87bfed8f5642d8c74444a137f4.jpg");
}

.container-item2 {
    background-image: url("https://i.pinimg.com/750x/dd/bd/a7/ddbda768f3a05c0bf9f79446269b2896.jpg");
}

.container-item3 {
    background-image: url("https://i.pinimg.com/750x/30/12/78/30127841994407ab2682fd32cc2aaeb8.jpg");
}

.container-item4 {
    background-image: url("https://i.pinimg.com/750x/e5/f7/4f/e5f74f71b7db03f4e41cc893b5d2b22d.jpg");
}

.container-item5 {
    background-image: url("https://i.pinimg.com/750x/d9/99/bb/d999bbe07172631231afaf4df009ccfa.jpg");
}

.container-item6 {
    background-image: url("https://i.pinimg.com/564x/d5/63/ff/d563ffee4efbc497cf09be4f502171f0.jpg");
}

.container-item7 {
    background-image: url("https://i.pinimg.com/236x/5e/21/b5/5e21b5fa45cc04f8fd35537496ebe6d0.jpg");
}

.container-item8 {
    background-image: url("https://i.pinimg.com/564x/ac/a1/1e/aca11eef833cc28cc17a0ddfb738679c.jpg");
}

.container-item9 {
    background-image: url("https://i.pinimg.com/564x/5c/c6/50/5cc6508841eeba18ec656180b5ac2de8.jpg");
}

.container-item10 {
    background-image: url("https://i.pinimg.com/564x/b0/4c/b8/b04cb8d31018c3a562453bd358c74214.jpg");
}

.container-item11 {
    background-image: url("https://i.pinimg.com/564x/98/2e/a4/982ea4e8ee115d88a22e76e6a92d9a6a.jpg");
}

.container-item12 {
    background-image: url("https://i.pinimg.com/750x/26/76/67/26766784ceace65e37607e1693dea6c5.jpg");
}

.container-item13 {
    background-image: url("https://i.pinimg.com/750x/ee/73/29/ee73296f37b9adb0ba2a5552658a4544.jpg");
}

.container-item14 {
    background-image: url("https://i.pinimg.com/750x/55/77/4f/55774f5c0f484bf77e3cce2152b9129c.jpg");
}

.container-item15 {
    background-image: url("https://i.pinimg.com/564x/43/1e/77/431e774f2a2582136eaf02d14388e11a.jpg");
}

.container-item16 {
    background-image: url("https://i.pinimg.com/564x/c0/36/d9/c036d9ad822d7c34c4c9619530331956.jpg");
}

.container>div {
    background-size: 100%;
    position: relative;
    transition: all .5s;
}

.container>div:active {
    background-image: url("http://w3.org.ua/wp-content/uploads/2017/01/HTML5.jpg");
    transform: rotateY(180deg);
}

.container>div:hover {
    transform: scale(1.15);
}

.container-item-animal-name {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 1.5rem 0;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    filter: opacity(0.5);
}

.button {
    background-image: url(../img/call.png);
    width: 80px;
    height: 70px;
    background-size: 380px;
    position: fixed;
    bottom: 100px;
    right: 100px;
    filter: grayscale(1) opacity(0.8);
    cursor: pointer;    
    animation: callback 1s infinite;
}

.button:hover{
    filter: none;
}

@keyframes callback{
    from, to{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(-10deg);
    }
    20%{
        transform: rotate(-20deg);
    }
    30%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    70%{
        transform: rotate(10deg);
    }
    80%{
        transform: rotate(20deg);
    }
    90%{
        transform: rotate(30deg);
    }
}